.footer {
  &__action {
    background-color: var(--color-primary-dark-3);
    padding: 6.5rem 0;
  }

  &__action--details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__action--text {
    display: flex;
    gap: 3.7rem;
    align-items: center;
  }

  &__action--icon {
    width: 6rem;
    height: 6rem;
    fill: var(--color-white);
  }

  &__action--input {
    width: 41rem;
    font-size: 1.5rem;
    padding: 1.95rem 2rem;
    border-radius: 4px;

    &::placeholder {
      font-size: inherit;
      font-family: inherit;
      color: var(--color-primary-dark-4);

    }

    &:focus {
      outline: 1px solid var(--color-primary);

      &::placeholder {
        color: var(--color-grey-dark-1);
      }
    }
  }

  &__action--btn {
    padding: 2.25rem 3.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;
    border: none;
  }


  //navigation

  &__navigation {
    padding: 6rem 0;
  }

  &__navigation-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-column-gap: 13rem;
  }

  &__navigation--heading {
    color: var(--color-primary-dark-4);
    line-height: 1.875;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-weight: 500;
  }

  &__contact--wrap {
    line-height: 1.428571428571429;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.6rem;
  }

  &__contact--n,
  &__contact--e {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-primary);
    font-weight: 500;
    display: inline-block;
    line-height: 1.666666666666667;
    margin-top: 0.4rem;
  }

  &__navlist {
    list-style: none;
  }

  &__navlist--item:not(:last-child) {
    margin-bottom: 2.4rem;
  }



  &__navlist--link {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-primary-dark-4);
    line-height: 1;

    &:hover {
      color: var(--color-primary);
    }
  }

}