.header {
  display: flex;
  padding: 2rem 3rem;
  justify-content: space-between;
  align-items: center;

  &-left {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__logo {
    width: 18rem;
    height: auto;

    img {
      width: 100%;
    }
  }


  &-right {
    display: flex;
    gap: 2rem;
  }

  &__locale {
    display: flex;
    align-items: center;

    &--currency {
      font-size: 1.4rem;
      font-weight: 400;
      background-color: transparent;
      border: none;
      color: var(--color-white);

      i {
        padding-left: 1.2rem;
      }
    }

    &--region {
      font-size: 1.4rem;
      font-weight: 400;
      background-color: transparent;
      border: none;
      color: var(--color-white);
      display: flex;
      align-items: center;

      &-icon {
        margin-right: 0.7rem;
        border-radius: 50px;
      }

      i {
        padding-left: 1.2rem;
      }
    }
  }



}

.main-nav {
  &__list {
    display: flex;
    list-style: none;
    gap: 3.7rem;
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    display: flex;
    align-items: center;

    i {
      padding-left: 1.2rem;
    }
  }

  &__link:hover {
    color: var(--color-primary-dark-1)
  }


}