.btn {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.5;
  border: none;
  padding: 1.9rem 3.5rem;
  border-radius: 6rem;
  cursor: pointer;
  transition: all 0.2s ease;



  i {
    margin-right: 1rem;
    line-height: 0;
  }

  &__link,
  &__link:link,
  &__link:visited {
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 17rem;
    // height: 5rem;
    transition: all 0.2s ease;
  }

  &__link--light {
    color: var(--color-primary-dark-4);
    background-color: var(--color-white);
  }

  &__link--outline {
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }

  &__link:hover,
  &__link:active {
    color: var(--color-primary-dark-4);
    background-color: var(--color-white);
  }



  &--rounded {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 6rem;
    width: 14.6rem;
  }

  &--rounded:hover {
    background-color: var(--color-primary-dark-1);
  }

}