.btn {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.5;
  border: none;
  padding: 1.9rem 3.5rem;
  border-radius: 6rem;
  cursor: pointer;
  transition: all 0.2s ease;



  i {
    margin-right: 1rem;
    line-height: 0;
  }


  &--rounded {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 6rem;
    width: 14.6rem;
  }

  &--rounded:hover {
    background-color: var(--color-primary-dark-1);
  }

}