:root {
  --color-primary: #3554D1;
  --color-primary-dark-1: #163C8C;
  --color-primary-dark-2: #13357B;
  --color-primary-dark-3: #051036;

  --color-grey-light-1: #E5F0FD;
  --color-grey-light-2: #DDDDDD;
  --color-grey-light-3: #DADFE6;

  --color-grey-dark-1: #697488;

  --color-white: #fff;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is 
  //1rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;
  box-sizing: border-box;
}

.container {
  /* 1290px */
  max-width: 129rem;
  margin: 0 auto;
}