.divider {
  height: 2rem;
  width: 1px;
  background-color: #fff;
  opacity: 0.3;
  margin: 0 2rem;
}


.text-lg-1 {
  font-size: 3rem;
}

.text-md-1 {
  font-size: 1.8rem;
}


.text-sm-1 {
  font-size: 1.5rem;
}

.text-sm-2 {
  font-size: 1.6rem;
}


.color-dark-1 {
  color: var(--color-primary-dark-4);
}

.color-light-1 {
  color: var(--color-grey-dark-1);
}


.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}