.header {
  // height: 9rem;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  // background-color: var(--color-primary-dark-4);
}

.hero {
  height: 94vh;
  margin-top: -9rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.destinations-section {
  padding: 12rem 0;

  &__banner {
    padding: 12rem 0 0 0;
  }
}