.header {
  // height: 9rem;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  // background-color: var(--color-primary-dark-4);
}

.section-hero {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section-destinations {
  padding: 12rem 0;

  &__banner {
    padding: 12rem 0 0 0;
  }
}

.section-service {
  padding: 12rem 0;
}


.section-review {
  padding: 12rem 0;
  background-color: var(--color-grey-light-1);
}

.section-inspiration {
  padding: 12rem 0;
}

.section-welove {
  padding: 0 0 12rem 0;
}