.header {
  // height: 9rem;
  width: 100vw;
  background-color: var(--color-primary-dark-4);
}

.hero {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.destinations {
  padding: 12rem 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4rem;
  }
}